.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #b3b3cc; 
    border-radius: 50%;
    width: 5dvh;
    height: 5dvh;
    animation: spin 2s linear infinite;
    margin: 1rem;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }