.page {
    display: flex;
    flex-direction: column;
    background-color: rgba(126, 192, 222, 0.775);

}

.main {
    width: 100%;
}

.main .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background: rgba(141, 180, 198, 0.725);
    /* border-radius: 0 0 15rem 15rem; */
    border-radius: 0 0 62rem 0;
}


.main .listingContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    width: 100%;
  }
  
  .listingContainer .propertyHeading {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 2rem;
    margin-top: 1rem;
    background: rgba(90, 92, 92, 0.7);
  }
  
  .listingContainer .propertyHeading label {
    font-size: 1rem;
    font-weight: 600;
    line-height: 10px;
    margin: 10px;
  }
  
  .listingContainer .propertyHeading .filter {
    display: flex;
    justify-content: end;
  }
  
  .listingContainer .propertyHeading .filter .filterButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .2rem;
  }
  
  .listingContainer .propertyHeading .filter .filterButton svg {
    font-size: 1.5rem;
  
  }
  
  .propertiesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    background: rgba(126, 192, 222, 0.775);
  }
  