.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-height: 100svh;
}

.flexItem {
    flex: 1;
    padding: 20px;
}

.flexItem:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
    font-weight: 900;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    /* background: #3232ce84; */
    background: rgba(43, 43, 46, 0.764);
    background: linear-gradient(90deg, rgb(35, 35, 37) 0%, rgba(12,12,222,1) 54%, rgb(99, 104, 104) 100%);
    height: 100vh;
    border-radius: 0 100% 50% 0px;
}

.flexItem:first-child a{
    margin: 10px;
    padding: 10px;
    height: 40px;
    max-width: 200px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border: 1px solid #d1d1e0;
    background-color: rgba(59, 57, 57, 0.9);;
    color: #fff;
    border-radius: 5px;
}

.flexItem:first-child  a:hover{
    background-color: rgba(100, 99, 99, 0.9);
}

.flexItem:last-child{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 790px) {
    .container {
        flex-direction: column;
    }
    .flexItem:first-child {
        margin-top: 100px;
    }
}