.searchContainer{
    display: flex;
    flex-direction: column;
    background: rgba(139, 133, 133, 0.726);
    width: 60%;
    height: 8rem;
    border-radius: .5rem;
    position: absolute;
    top: 20rem;
    padding: 1rem;
    flex-grow: 5;
    gap: 1rem;
}
.filterContainer {
    display: flex;
    gap: 1rem;
}

.filterItem {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.filterItem select {
    height: 2rem;
    padding: .5rem;
}

.filterItem label {
    font-weight: 600;
    letter-spacing: .1rem;
}