.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-top: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    background: rgba(159, 195, 159, 0.715);
    
}

.container p{
    margin-top: 3rem;
    font-weight: 600;
}