.page {
  display: flex;
  flex-direction: column;
  background-color: rgba(126, 192, 222, 0.775);
  
}

.main {
  width: 100%;
}

.main .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
 background: rgba(141, 180, 198, 0.725);
 border-radius: 0 0 15rem 15rem ;
}

.main .heading h1 {
  letter-spacing: .1rem;
  
  font-size: 3rem;
}

.main .heading h1 span {
  font-style: italic;
  color: rgba(35, 33, 33, 0.788)
}

.main .heading h4 {
  letter-spacing: .1rem;
  font-size: 2rem;
}

.main .heading .btnContainer {
  margin: 3rem;
  z-index: 10;
}

.main .heading .btnContainer .exploreBtn {
  background: rgba(154, 151, 151, 0.616);
  width: 10rem;
  height: 2.3rem;
  text-align: center;
  padding: 1rem 3rem;
  border: .1rem solid #fff;
  border-radius: .3rem;
  font-weight: 600;
  font-size: 1rem;
}

.main .heading .btnContainer .exploreBtn:hover {
  background: rgba(205, 194, 194, 0.616);
}


.main .heading img {
  margin-top: -8rem;
  width: 100%;
  object-fit: contain;
}

.main .listingContainer {
  display: flex;
  flex-wrap: wrap;
}

.footer {}