.login {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(240, 240, 240,0.2);
    max-width: 500px;
    border-radius: 5px;
}
.loginTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(100, 98, 98, 0.774);
    margin: -10px -10px 0 -10px ;
    padding: .5rem;
    border-radius: 5px 5px 0px 0px;
}
.loginTitle h1{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputContainer label {
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    margin: 10px 0;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(133, 130, 130, 0.616);
}

.input svg {
    font-size: 1.5rem;
    margin: .5rem;

}

.inputContainer input {
    margin: 5px;
    padding: 10px;
    height: 40px;
    max-width: 450px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #8c8c93;
    border-radius: 5px;
    background: rgba(178, 175, 175, 0.1);
}


.inputContainer .error {
    color: #f10b0b;
    font-size: 15px;
}

.inputContainer .inputError {
    border: 2px solid #f10b0b;
}

.submitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

.submitContainer button {
    margin: .7rem;
    padding: .5rem;
    height: 40px;
    max-width: 150px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border: 1px solid #d1d1e0;
    background-color: rgba(59, 57, 57, 0.9);;
    color: #fff;
    border-radius: 5px;
}
.submitContainer button:hover{
    background-color: rgba(100, 99, 99, 0.9);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

.loginFooter {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 10px;
    padding: 10px;
}

.rememberMe input{
    margin-right: .5rem;
}