.container {
   display: flex;
   width: 100vw;
   background: #fff;
}

.sideMenu {
   display: flex;
   flex-direction: column;
   width: 20%;
   height: 100vh;
   background: linear-gradient(90deg, rgb(35, 35, 37) 0%, rgb(106 106 125) 54%, rgb(99, 104, 104) 100%);
}

.main {
   display: flex;
   width: 80%;
 
}

.content {
   width: 70%;  
   background: rgba(224, 218, 218, 0.721);
   color: rgba(27, 26, 26, 0.816);
}

.chatAgent {
   width: 30%;
   color: rgba(27, 26, 26, 0.816);
}