.login {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.2);
    max-width: 450px;
    border-radius: 5px;
}
.loginTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginTitle h1{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputContainer label {
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    margin: 10px 0;
}

.inputContainer input {
    padding: 10px;
    height: 40px;
    max-width: 450px;
    width: 100%;
    font-size: 25px;
    border: 1px solid #d1d1e0;
    border-radius: 5px;
    background: rgba(178, 175, 175, 0.1);
}

.inputContainer .error {
    color: #f10b0b;
    font-size: 15px;
}

.inputContainer .inputError {
    border: 2px solid #f10b0b;
}

.submitContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.submitContainer a{
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    line-height: 14px;
}

.submitContainer button {
    margin: 10px;
    padding: 10px;
    height: 50px;
    max-width: 150px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border: 1px solid #d1d1e0;
    background-color: #b3b3cc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.submitContainer button:hover{
    background-color: rgba(100, 99, 99, 0.9);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

.loginFooter {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 10px;
    padding: 10px;
}